<div style="color: red; text-align: center;">
    <article>
       <p> Bienvenue sur notre WebShop </p>
       <p> L'équipe de la QJ Boucherie est fiere de vous présenter son nouveau site </p>
       <p>Vous pourrez y trouver , les meilleures viandes de la région , ainsi que nos partenaires qui travaillent
            dans le plus grand  respect rêgles d'hygiène et  des animaux</p>

    <p>Nous vous souhaitons une bonne visite et un excellent barbecue ,<span style="font-weight: bold;">le gras c'est la vie .</span> </p>
    <p>N'hésitez pas à nous contacter via notre formulaire</p>
    </article>
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/12/ba/e3/61/getlstd-property-photo.jpg" alt="Les bonnes viandes" >
</div>