

<table style="color: yellow;" class="allTableSelect">
    <thead >
        <th width=100px class="selectallth">ID</th>
        <th width=100px class="selectallth">Name</th>
        <th width=100px class="selectallth">Description</th>
        <th width=100px class="selectallth">Catégorie</th>
        <th width=100px class="selectallth">Date d'entrée</th>
        <th width=100px class="selectallth">Date d'update</th>
        <th width=100px class="selectallth">Date péremption</th>
        <th width=100px class="selectallth">Prix d'achat (/Kg)</th>
        <th width=100px class="selectallth">Quantité (Kg)</th>
        <th width=100px class="selectallth">Image</th>
        <th width=100px class="selectallth">TVA</th>
        <th width=100px class="selectallth">Fournisseur</th>
    </thead>
    <tbody *ngIf="listeProduits.length > 0">
        <tr *ngFor="let prod of listeProduits">
            <td width=100px class="selectalltd">{{prod.id}}</td>
            <td width=100px class="selectalltd">{{prod.nom}}</td>
            <td width=100px class="selectalltd">{{prod.description}}</td>
            <td width=100px class="selectalltd">{{prod.categorie}}</td>
            <td width=100px class="selectalltd">{{prod.dateInsertion}}</td>
            <td width=100px class="selectalltd">{{prod.dateUpdate}}</td>
            <td width=100px class="selectalltd">{{prod.datePeremption}}</td>
            <td width=100px class="selectalltd">{{prod.prixAchat}}</td>
            <td width=100px class="selectalltd">{{prod.quantite}}</td>
            <td width=100px class="selectalltd">{{prod.imageProduit}}</td>
            <td width=100px class="selectalltd">{{prod.tva}}</td>
            <td width=100px class="selectalltd">{{prod.fournisseurDto.entreprise}}</td>
        </tr>

    </tbody>
</table>